<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>It works!</h1>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Name:</label>
        <input type="text" name="username" id="username" placeholder="name">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password">
        <input type="submit" value="Ok">
    </form>
</body>
</html>